.traffic-light {
  width: 10rem;
  height: 27.3rem;
  background-color: #212020;
  border-radius: 15px;
  z-index: 2;

}

.light {
  margin-top: 0.3rem;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;


}

.cord {
  width: 1rem;
  height: 30rem;
  background-color: #212020;
  margin: 0 auto;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.white-shadow {
  box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.5);
}